@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary-color: #58786c; /* Harmonized main color */
  --accent-color: #628c84;
  --background-dark: #0f1415;
  --background-light: #4f6469;
  --background-gradient: linear-gradient(to bottom left, var(--background-dark), var(--background-light));
  --text-color-light: #ffffff;
  --selection-bg: var(--primary-color); /* Harmonized selection color */
}

* {
  outline: none;
}

html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
  transition: 0.4s linear;
}

body {
  background: var(--background-gradient);
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-color-light); /* Set text color to white */
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  background-image: url('/assets/videos/coding-world-background.mp4');

  ::selection {
    background-color: var(--selection-bg); /* Updated selection background */
    color: black; /* White text color when selected */
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media screen and (max-width: 640px) {
  body {
    background: linear-gradient(to bottom left, #000000d3, var(--accent-color));
  }

  .banner-image {
    background-image: none !important;
    background-color: #FCF5EF;
  }
}

.boxshadow {
  box-shadow: 0px 64px 64px -48px rgba(245, 238, 232, 0.9);
}

.position-green {
  top: 62%;
  right: 0%;
  left: 54%;
  bottom: 60%;
}

.bannerBorder {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 640px) {
  .bannerBorder {
    border-left: none !important;
  }
}

.nowhitespace {
  white-space: nowrap;
}

.mentorShadow {
  box-shadow: 0px 4px 20px rgba(110, 127, 185, 0.1);
}

